@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  background-image: -webkit-linear-gradient(285deg, rgba(194, 233, 221, 0.5) 3%, rgba(104, 119, 132, 0.5) 100%);
  background-image: linear-gradient(165deg, rgba(194, 233, 221, 0.5) 3%, rgba(104, 119, 132, 0.5) 100%);
  text-align: center;
  font-family: helvetica;
  text-transform: uppercase;
}

.countdown {
  position: relative;
  top: 50%;
  display: block;
  height: auto;
  max-width: 35em;
  margin: 0 auto;
}
.countdown input {
  text-transform: uppercase;
  text-align: center;
  font-family: helvetica;
  height: 1.25em;
  border: 1px solid black;
  font-weight: 700;
  font-size: 9.5rem;
  width: 80%;
  margin: 0 10px;
  border-radius: 5px;
}
.countdown h3 {
  font-size: 5.0rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin: -30px;
}
.countdown .bottom_time input {
  padding: 2.0% 4.1%;
  display: inline-block;
  height: 1em;
  font-weight: 500;
  font-size: 2.5rem;
  color: black;
  width: 15.5%;
}
.countdown ul {
  padding: 0;
  margin: .5em 0;
}
.countdown ul li {
  display: inline;
  font-weight: 500;
  padding: 0 11%;
}
.countdown hr.soft {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.5, rgba(0, 0, 0, 0.4)), to(transparent));
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4), transparent);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  border: 0;
}


@media only screen and (min-width: 38em){

}

@media only screen and (min-width: 60em){

}

