@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  text-align: center;
  background: url(../img/background-transp.png);
  font-family: sans-serif;
  font-weight: 100;
}

.clock-title {
  font-size: 1em;
}

.clock-width {
  width: 100%;
  margin-top: 2em;
}

.inline {
  display: inline-block;
  padding: 1em;
}

.clock-number {
  font-size: 2em;
}

.smalltext {
  font-size: .65em;
}


@media only screen and (min-width: 38em){


}

@media only screen and (min-width: 60em){

}

